{% extends "_layout.html" %}
{% block title %}Mahasiswa{% endblock %}
{% block content %}
<div>
  <div class="h-fit w-fit border rounded-md overflow-hidden">
    <table class="table-auto border-collapse">
      <thead class="bg-primary text-white rounded-t-md">
        <tr>
          <th class="text-left py-2 px-4">NIM</th>
          <th class="text-left py-2 px-4">Nama</th>
          <th class="text-left py-2 px-4">Jenis Kelamin</th>
          <th class="text-left py-2 px-4">Tanggal Lahir</th>
          <th class="text-left py-2 px-4">Asal</th>
        </tr>
      </thead>
      <tbody>
        {% for item in daftar_mahasiswa %}
        <tr class="border-y">
          <td class="text-left py-2 px-4">{{ item.nim }}</td>
          <td class="text-left py-2 px-4">{{ item.nama }}</td>
          <td class="text-left py-2 px-4">{{ item.jenis_kelamin }}</td>
          <td class="text-left py-2 px-4">{{ item.tgl_lahir }}</td>
          <td class="text-left py-2 px-4">{{ item.asal }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}